module {{.RandomName}}

go 1.19

require (
        github.com/C-Sto/BananaPhone v0.0.0-20220220002628-6585e5913761
        github.com/kardianos/service v1.2.2
	golang.org/x/sys v0.7.0
)

require (
	github.com/Binject/debug v0.0.0-20230419035412-febe44e5965e // indirect
        github.com/awgh/rawreader v0.0.0-20200626064944-56820a9c6da4 // indirect
)