func hideConsole(show bool) {
	getWin := syscall.NewLazyDLL(string([]byte{'k', 'e', 'r', 'n', 'e', 'l', '3', '2', '.', 'd', 'l', 'l'})).NewProc(string([]byte{'G','e','t','C','o','n','s','o','l','e','W','i','n','d','o','w'}))
	showWin := syscall.NewLazyDLL("user32.dll").NewProc(string([]byte{'S','h','o','w','W','i','n','d','o','w'}))
	hwnd, _, _ := getWin.Call()
	if hwnd == 0 {
		return
	}
	if show {
		{{if .Debug}}
		printDebug("info","Will show the program console")
		{{end}}
		var swRestore uintptr = 9
		showWin.Call(hwnd, swRestore)
	} else {
		{{if .Debug}}
		printDebug("info","Hide the program console")
		{{end}}
		var swHide uintptr = 0
	   	showWin.Call(hwnd, swHide)
	}
}